<% include header %>           
<%- include('sidebar', {menu:'dashboard'}) %>   
<div class="admin_main">
    <div class="row ad_dashboardBox_wrapper">
        <div class="col">
            <a href="/admin/agency-manager">
                <div class="ad_dashboardBox bg-danger-gradient ad_colorWhite ad_mBottom30">
                    <p>Total Purchase Amount</p>
                    <h3><% if(totalPurchaseAmount.total_purchase_amount!=null){%><%= totalPurchaseAmount.total_purchase_amount%><%}else{%> 0 <% } %> </h3>
                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512"><g><path d="m256 101c-85.467 0-155 69.533-155 155s69.533 155 155 155 155-69.533 155-155-69.533-155-155-155zm0 280c-68.925 0-125-56.075-125-125s56.075-125 125-125 125 56.075 125 125-56.075 125-125 125z"/><path d="m316 181h-120c-8.284 0-15 6.716-15 15v120c0 8.284 6.716 15 15 15h120c8.284 0 15-6.716 15-15v-120c0-8.284-6.716-15-15-15zm-15 120h-90v-90h30v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15h30z"/><path d="m497 201h-33.118c-4.903-18.57-12.288-36.336-22.051-53.05l23.473-23.472c2.813-2.813 4.394-6.628 4.394-10.607 0-3.978-1.581-7.793-4.394-10.606l-56.568-56.568c-5.857-5.858-15.355-5.858-21.213 0l-23.473 23.473c-16.715-9.764-34.48-17.148-53.05-22.051v-33.119c0-8.284-6.716-15-15-15h-80c-8.284 0-15 6.716-15 15v33.119c-18.57 4.903-36.335 12.287-53.049 22.05l-23.473-23.473c-5.857-5.858-15.355-5.858-21.213 0l-56.568 56.568c-2.813 2.813-4.394 6.628-4.394 10.606 0 3.979 1.581 7.793 4.394 10.607l23.473 23.472c-9.764 16.716-17.148 34.481-22.051 53.051h-33.119c-8.284 0-15 6.716-15 15v80c0 8.284 6.716 15 15 15h33.118c4.903 18.57 12.288 36.335 22.051 53.049l-23.473 23.472c-2.813 2.813-4.394 6.628-4.394 10.607 0 3.978 1.58 7.793 4.394 10.606l56.568 56.569c2.813 2.813 6.628 4.394 10.606 4.394s7.793-1.581 10.606-4.394l23.473-23.473c16.714 9.763 34.479 17.147 53.049 22.051v33.119c0 8.284 6.716 15 15 15h80c8.284 0 15-6.716 15-15v-33.118c18.57-4.903 36.335-12.288 53.049-22.051l23.473 23.473c2.813 2.813 6.628 4.394 10.606 4.394 3.979 0 7.793-1.581 10.606-4.394l56.568-56.569c2.813-2.813 4.394-6.628 4.394-10.606 0-3.979-1.581-7.793-4.394-10.607l-23.473-23.472c9.763-16.714 17.147-34.479 22.051-53.049h33.122c8.284 0 15-6.716 15-15v-80c0-8.285-6.716-15.001-15-15.001zm-15 80h-30.016c-7.134 0-13.281 5.024-14.7 12.016-4.699 23.147-13.778 44.996-26.985 64.939-3.938 5.947-3.144 13.845 1.9 18.889l21.285 21.284-35.355 35.355-21.285-21.285c-5.043-5.044-12.941-5.838-18.888-1.9-19.944 13.207-41.792 22.286-64.939 26.985-6.991 1.419-12.016 7.566-12.016 14.7v30.017h-50v-30.016c0-7.134-5.024-13.281-12.016-14.7-23.147-4.699-44.996-13.778-64.939-26.985-5.948-3.939-13.845-3.144-18.888 1.9l-21.285 21.285-35.355-35.355 21.285-21.284c5.044-5.044 5.838-12.941 1.9-18.889-13.207-19.944-22.286-41.792-26.985-64.939-1.421-6.992-7.568-12.017-14.702-12.017h-30.016v-50h30.016c7.134 0 13.281-5.024 14.7-12.016 4.699-23.147 13.778-44.997 26.985-64.94 3.938-5.947 3.144-13.845-1.9-18.889l-21.285-21.284 35.355-35.355 21.285 21.285c5.043 5.044 12.94 5.838 18.888 1.9 19.944-13.207 41.792-22.286 64.939-26.984 6.993-1.42 12.017-7.567 12.017-14.7v-30.017h50v30.017c0 7.134 5.024 13.281 12.016 14.7 23.146 4.699 44.995 13.778 64.939 26.984 5.947 3.938 13.845 3.144 18.888-1.9l21.285-21.285 35.355 35.355-21.285 21.284c-5.044 5.044-5.838 12.941-1.9 18.889 13.207 19.944 22.286 41.793 26.985 64.94 1.419 6.991 7.566 12.016 14.7 12.016h30.017z"/></g></svg>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/orders?order=all_order">
                <div class="ad_dashboardBox bg-warning-gradient ad_colorWhite ad_mBottom30">
                    <p>Total Sale Amount</p>
                    <h3><% if(totalSale.amount!=null){%><%= totalSale.amount%><%}else{%> 0 <% } %> </h3>
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512"><g><path d="m488.5 252.001h-50v-22.401c0-27.481-19.178-50.611-45-57.026v-157.574c0-8.284-6.716-15-15-15h-355c-8.284 0-15 6.716-15 15v411c0 8.284 6.716 15 15 15h231v12.292c0 32.372 26.378 58.708 58.8 58.708h131.4c32.422 0 58.8-26.336 58.8-58.708v-186.291c0-8.284-6.716-15-15-15zm-80-22.401v22.401h-59v-22.401c0-15.88 13.233-28.8 29.5-28.8s29.5 12.919 29.5 28.8zm-370 181.4v-381h325v142.836c-25.315 6.758-44 29.639-44 56.763v22.401h-50c-8.284 0-15 6.716-15 15v144zm435 42.292c0 15.83-12.92 28.708-28.8 28.708h-131.4c-15.88 0-28.8-12.878-28.8-28.708v-171.291h35v39.499c0 8.284 6.716 15 15 15s15-6.716 15-15v-39.499h59v39.499c0 8.284 6.716 15 15 15s15-6.716 15-15v-39.499h35z"/><path d="m113.381 64.779-17.048 18.313-1.141-1.419c-5.19-6.457-14.632-7.486-21.089-2.295-6.457 5.189-7.485 14.631-2.296 21.088l12 14.931c2.729 3.394 6.796 5.436 11.147 5.594.183.006.364.01.546.01 4.155 0 8.135-1.726 10.978-4.779l28.859-31c5.646-6.063 5.306-15.555-.758-21.2-6.06-5.645-15.553-5.306-21.198.757z"/><path d="m184.5 105.5h133.999c8.284 0 15-6.716 15-15s-6.716-15-15-15h-133.999c-8.284 0-15 6.716-15 15s6.716 15 15 15z"/><path d="m113.381 155.779-17.048 18.313-1.141-1.419c-5.19-6.457-14.632-7.485-21.089-2.295s-7.485 14.631-2.296 21.088l12 14.931c2.729 3.394 6.796 5.436 11.147 5.594.183.006.364.01.546.01 4.155 0 8.135-1.726 10.978-4.779l28.859-31c5.646-6.063 5.306-15.555-.758-21.2-6.06-5.645-15.553-5.306-21.198.757z"/><path d="m184.5 196.5h83.998c8.284 0 15-6.716 15-15s-6.716-15-15-15h-83.998c-8.284 0-15 6.716-15 15s6.716 15 15 15z"/><path d="m113.381 246.779-17.048 18.313-1.141-1.419c-5.19-6.458-14.632-7.485-21.089-2.295-6.457 5.189-7.485 14.631-2.296 21.088l12 14.931c2.729 3.394 6.796 5.436 11.147 5.594.183.006.364.01.546.01 4.155 0 8.135-1.726 10.978-4.779l28.859-31c5.646-6.063 5.306-15.555-.758-21.2-6.06-5.645-15.553-5.306-21.198.757z"/><path d="m209.497 257.5h-24.997c-8.284 0-15 6.716-15 15s6.716 15 15 15h24.997c8.284 0 15-6.716 15-15s-6.716-15-15-15z"/></g></svg>
                    
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/stock-management?req=lowQuantity">
                <div class="ad_dashboardBox bg-theme-gradient ad_colorWhite ad_mBottom30">
                    <p>Low Product Quantity</p>
                    <h3><%= lowQuantityCheck.count %> </h3>
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" enable-background="new 0 0 509.918 509.918" height="28" viewBox="0 0 509.918 509.918" width="28"><path d="m470.381 264.324v-232.202c0-8.284-6.716-15-15-15h-401.882c-8.284 0-15 6.716-15 15v250.713c-7.236 1.054-14.31 3.863-20.568 8.509-19.728 13.989-24.394 45.295-7.869 64.602l67.563 81.907c41.822 48.947 86.249 54.944 152.295 54.944 56.677 0 82.016.25 131.411-11.005l48.098-11.504c7.799 10.891 20.18 17.946 34.099 17.946h23.694c23.542 0 42.695-20.177 42.695-44.978v-134.089c.001-23.681-17.465-43.133-39.536-44.843zm-67.422 30.856-19.986-10.151c-32.861-16.587-70.854-17.201-104.234-1.682-9.107 3.582-28.97 15.6-39.273 15.198h-69.352c-23.004 0-41.72 18.715-41.72 41.72v10.939c-.129-.136-.264-.265-.391-.403l-49.525-53.757c-2.997-3.253-6.364-5.975-9.978-8.159v-148.819h122.753v54.986c0 8.284 6.716 15 15 15h94.651c8.284 0 15-6.716 15-15v-54.986h124.478v124.257c-17.526 1.354-32.14 13.892-37.423 30.857zm-181.707-155.114h64.651v39.986h-64.651zm219.129-30h-124.477v-62.944h124.478v62.944zm-154.477-62.944v62.945h-64.651v-62.945zm-94.652 0v62.945h-122.753v-62.945zm163.117 405.488c-45.63 10.451-73.111 10.028-123.911 10.028-62 0-91.957-1.002-129.689-43.876l-67.563-81.907c-11.752-15.303 9.534-33.368 23.208-19.486l49.525 53.758c13.089 13.811 29.56 21.412 49.861 21.859h137.308c8.284 0 15-6.716 15-15s-6.716-15-15-15h-134.715v-22.723c0-6.462 5.257-11.72 11.72-11.72h69.352c15.624 1.119 38.175-11.927 51.921-17.994 25-11.624 53.456-11.164 78.035 1.242l31.414 15.956v113.748zm125.549-9.355c0 8.259-5.695 14.978-12.695 14.978h-23.694c-7 0-12.694-6.719-12.694-14.978v-134.088c0-8.259 5.695-14.979 12.694-14.979h23.694c7 0 12.695 6.719 12.695 14.979z"/></svg>
                    
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/customer">
                <div class="ad_dashboardBox bg-success-gradient ad_colorWhite ad_mBottom30">
                    <p>Total Customers</p>
                    <h3><%= countCustomer.total_customer%></h3>
                    <svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -16 425.99138 425" width="28"><path d="m57.019531 78.066406h.488281c10.488282-.011718 18.988282-8.511718 19-19v-10.988281c-.011718-10.488281-8.511718-18.988281-19-19h-.488281c-10.488281.011719-18.988281 8.511719-19 19v10.984375c.011719 10.492188 8.511719 18.992188 19 19.003906zm0 0"></path><path d="m96.097656 116.597656h-11.042968l-22.082032 20.722656-.011718-.011718c-2.710938 2.585937-6.988282 2.554687-9.660157-.074219l-21.210937-20.636719h-11.820313c-5.730469 0-11.195312 2.425782-15.035156 6.675782-3.84375 4.253906-5.707031 9.933593-5.132813 15.632812.027344.234375.039063.472656.039063.707031v80.667969c-.007813 1.980469.78125 3.882812 2.191406 5.28125 1.40625 1.445312 3.351563 2.234375 5.367188 2.1875 4.199219-.171875 7.484375-3.671875 7.398437-7.871094v-53.597656h14v33.28125h.082032l.175781 7h57.808593l.089844-3.558594v-36.722656h14v33.632812h.082032l-.082032 3.25v17.101563c0 4.136719 3.351563 7.488281 7.488282 7.488281 4.136718 0 7.488281-3.351562 7.488281-7.488281v-80.652344c0-.238281.011719-.472656.035156-.707031.578125-5.703125-1.285156-11.382812-5.128906-15.632812-3.84375-4.253907-9.308594-6.675782-15.039063-6.675782zm0 0"></path><path d="m33.875 384.757812c.214844 4.71875 4.15625 8.402344 8.878906 8.296876 4.722656-.105469 8.496094-3.960938 8.5-8.683594v-145.523438h14v145.523438c-.011718 4.746094 3.789063 8.625 8.535156 8.710937 4.746094.082031 8.683594-3.65625 8.84375-8.398437l4.167969-164.117188h-57.101562zm0 0"></path><path d="m366.648438 78.066406h.488281c10.488281-.011718 18.988281-8.511718 19-19v-10.988281c-.011719-10.488281-8.511719-18.988281-19-19h-.488281c-10.488282.011719-18.988282 8.511719-19 19v10.984375c.011718 10.492188 8.511718 18.992188 19 19.003906zm0 0"></path><path d="m343.503906 384.757812c.203125 4.726563 4.148438 8.425782 8.878906 8.320313 4.730469-.105469 8.507813-3.976563 8.5-8.707031v-145.523438h14v145.523438c-.011718 4.746094 3.789063 8.625 8.535157 8.710937 4.746093.082031 8.683593-3.65625 8.84375-8.398437l4.167969-164.117188h-57.097657zm0 0"></path><path d="m405.730469 116.597656h-11.046875l-22.082032 20.722656-.011718-.011718c-2.710938 2.585937-6.988282 2.554687-9.660156-.074219l-21.210938-20.636719h-11.824219c-5.730469 0-11.191406 2.425782-15.035156 6.675782-3.84375 4.253906-5.707031 9.933593-5.128906 15.632812.023437.234375.035156.472656.035156.707031v80.667969c-.003906 1.980469.785156 3.882812 2.191406 5.28125 1.40625 1.445312 3.351563 2.238281 5.371094 2.1875 4.195313-.175781 7.484375-3.675781 7.390625-7.878906v-53.589844h14v33.28125h.082031l.175781 7h57.808594l.089844-3.5625v-36.71875h14v33.632812h.082031l-.082031 3.25v17.101563c0 4.136719 3.351562 7.488281 7.488281 7.488281s7.488281-3.351562 7.488281-7.488281v-80.652344c0-.238281.011719-.472656.035157-.707031.578125-5.703125-1.285157-11.378906-5.125-15.632812-3.84375-4.25-9.304688-6.675782-15.035157-6.675782zm0 0"></path><path d="m211.835938 78.066406h.484374c10.492188-.011718 18.992188-8.511718 19-19v-10.988281c-.007812-10.488281-8.507812-18.988281-19-19h-.484374c-10.488282.011719-18.988282 8.511719-19 19v10.984375c.007812 10.492188 8.507812 18.992188 19 19.003906zm0 0"></path><path d="m250.914062 116.597656h-11.046874l-22.078126 20.722656-.015624-.011718c-2.710938 2.585937-6.984376 2.554687-9.65625-.074219l-21.214844-20.636719h-11.816406c-5.734376 0-11.195313 2.425782-15.039063 6.675782-3.84375 4.253906-5.707031 9.933593-5.128906 15.632812.023437.234375.035156.472656.035156.707031v80.667969c-.003906 1.980469.785156 3.882812 2.191406 5.28125 1.40625 1.445312 3.355469 2.238281 5.371094 2.1875 4.199219-.175781 7.484375-3.675781 7.390625-7.878906v-53.589844h14v33.28125h.082031l.179688 7h57.804687l.089844-3.558594v-36.722656h14v33.632812h.082031l-.082031 3.25v17.101563c0 4.136719 3.351562 7.488281 7.488281 7.488281s7.488281-3.351562 7.488281-7.488281v-80.652344c0-.238281.011719-.472656.035157-.707031.578125-5.703125-1.28125-11.378906-5.125-15.632812-3.84375-4.25-9.304688-6.675782-15.035157-6.675782zm0 0"></path><path d="m188.6875 384.757812c.214844 4.71875 4.160156 8.402344 8.878906 8.296876 4.722656-.105469 8.496094-3.960938 8.5-8.683594v-145.523438h14v145.523438c-.007812 4.746094 3.792969 8.625 8.539063 8.710937 4.746093.082031 8.683593-3.65625 8.84375-8.398437l4.167969-164.117188h-57.097657zm0 0"></path><path d="m154.832031 19.496094c-.011719-10.488282-8.511719-18.988282-19-19h-.488281c-10.488281.011718-18.988281 8.511718-19 19v10.984375c.011719 10.488281 8.511719 18.988281 19 19h.488281c10.488281-.011719 18.988281-8.511719 19-19zm0 0"></path><path d="m309.648438 19.496094c-.011719-10.488282-8.511719-18.988282-19-19h-.488282c-10.488281.011718-18.988281 8.511718-19 19v10.984375c.011719 10.488281 8.511719 18.988281 19 19h.488282c10.488281-.011719 18.988281-8.511719 19-19zm0 0"></path></svg>
                    
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/orders?order=all_order">
                <div class="ad_dashboardBox bg-primary-gradient ad_colorWhite ad_mBottom30">
                    <p>Total Orders</p>
                    <h3><%= countOrder.total_order %> </h3>
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512"><g><path d="m488.5 252.001h-50v-22.401c0-27.481-19.178-50.611-45-57.026v-157.574c0-8.284-6.716-15-15-15h-355c-8.284 0-15 6.716-15 15v411c0 8.284 6.716 15 15 15h231v12.292c0 32.372 26.378 58.708 58.8 58.708h131.4c32.422 0 58.8-26.336 58.8-58.708v-186.291c0-8.284-6.716-15-15-15zm-80-22.401v22.401h-59v-22.401c0-15.88 13.233-28.8 29.5-28.8s29.5 12.919 29.5 28.8zm-370 181.4v-381h325v142.836c-25.315 6.758-44 29.639-44 56.763v22.401h-50c-8.284 0-15 6.716-15 15v144zm435 42.292c0 15.83-12.92 28.708-28.8 28.708h-131.4c-15.88 0-28.8-12.878-28.8-28.708v-171.291h35v39.499c0 8.284 6.716 15 15 15s15-6.716 15-15v-39.499h59v39.499c0 8.284 6.716 15 15 15s15-6.716 15-15v-39.499h35z"/><path d="m113.381 64.779-17.048 18.313-1.141-1.419c-5.19-6.457-14.632-7.486-21.089-2.295-6.457 5.189-7.485 14.631-2.296 21.088l12 14.931c2.729 3.394 6.796 5.436 11.147 5.594.183.006.364.01.546.01 4.155 0 8.135-1.726 10.978-4.779l28.859-31c5.646-6.063 5.306-15.555-.758-21.2-6.06-5.645-15.553-5.306-21.198.757z"/><path d="m184.5 105.5h133.999c8.284 0 15-6.716 15-15s-6.716-15-15-15h-133.999c-8.284 0-15 6.716-15 15s6.716 15 15 15z"/><path d="m113.381 155.779-17.048 18.313-1.141-1.419c-5.19-6.457-14.632-7.485-21.089-2.295s-7.485 14.631-2.296 21.088l12 14.931c2.729 3.394 6.796 5.436 11.147 5.594.183.006.364.01.546.01 4.155 0 8.135-1.726 10.978-4.779l28.859-31c5.646-6.063 5.306-15.555-.758-21.2-6.06-5.645-15.553-5.306-21.198.757z"/><path d="m184.5 196.5h83.998c8.284 0 15-6.716 15-15s-6.716-15-15-15h-83.998c-8.284 0-15 6.716-15 15s6.716 15 15 15z"/><path d="m113.381 246.779-17.048 18.313-1.141-1.419c-5.19-6.458-14.632-7.485-21.089-2.295-6.457 5.189-7.485 14.631-2.296 21.088l12 14.931c2.729 3.394 6.796 5.436 11.147 5.594.183.006.364.01.546.01 4.155 0 8.135-1.726 10.978-4.779l28.859-31c5.646-6.063 5.306-15.555-.758-21.2-6.06-5.645-15.553-5.306-21.198.757z"/><path d="m209.497 257.5h-24.997c-8.284 0-15 6.716-15 15s6.716 15 15 15h24.997c8.284 0 15-6.716 15-15s-6.716-15-15-15z"/></g></svg>
                    
                </div>
            </a>
        </div>
    </div>
    <div class="row ad_mTop20">
        <div class="col-12">
            <h5 class="ad_subheading">Charts</h5>
        </div>
        <div class="col-12 text-right">
            
        </div>
        <div class="col-lg-7 col-md-12">
            <div class="inner_chart">
                <div class="form-group chart_filter">
                    <label class="ad_label"></label>
                    <div class="ad_checkBox_wrapper">
                        <label class="ad_checkBox ad_radioBox">
                            <input type="radio" class="d-none" name="filtergraph" data-type="orders" checked="">
                            <span class="ad_mRight10"></span>Orders
                        </label>
                    </div>
                    
                    <div class="ad_checkBox_wrapper">
                        <label class="ad_checkBox ad_radioBox">
                            <input type="radio" class="d-none" name="filtergraph" data-type="visitors">
                            <span class="ad_mRight10"></span>Visitors
                        </label>
                    </div>
    
                    <div class="ad_select_filter">
                        <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                </div>
                <div class="chart_dv chart_append_dv">
                    <div id="chart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="ad_dashboard_table">
                <h5 class="ad_subheading">Order List</h5>
                <%if(role=='admin'||role=='Order Management'){%><a href="/admin/orders?order=all_order" class="hd_btn dash_all_order">View all order</a> <% } %> 
                <div class="table-responsive">
                    <table id="example" class="table ad_table" style="width:100%">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Order Number</th>
                                <th>Order Date</th>
                                <th>Customer Name</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let index=1; for(let i in order){%>
                                <tr>
                                    <td><%=index%></td>
                                    <td><%=order[i].order_number%></td>
                                    <td><%=order[i].order_date%></td>
                                    <td><%=order[i].customer_name%></td>
                                    <td><%=order[i].amount%></td>
                                </tr>
                            <% index++; } %> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer %>

<script src="assets/js/page_js/dashboard.js"></script>
<script type="text/javascript" src="/common_js_css/js/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/common_js_css/css/daterangepicker.css" />

<script type="text/javascript">
    $(function() {
    
        var start = moment().subtract(6, 'days');
        var end = moment();
    
        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
    
        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
            //    'Today': [moment(), moment()],
            //    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
               'This Week': [moment().startOf('week').toDate(), moment()],
               'Last 7 Days': [moment().subtract(6, 'days'), moment()],
               'Last 30 Days': [moment().subtract(29, 'days'), moment()],
               'This Month': [moment().startOf('month'), moment().endOf('month')],
               'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
    
        cb(start, end);
        
    
    });
    </script>
</body>
</html>